{% extends "base.html" %}

{% block app_imports %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/loop.css' %}" />
<link rel="stylesheet" href="{% static 'css/loop_statistics.css' %}" />
<script src="{% static 'js/moment.js' %}"></script>
<script src="{% static 'js/Chart.js' %}"></script>
<script src="{% static 'js/datetimepicker_css.js' %}"></script>
<script src="{% static 'js/easeljs.js' %}"></script>
<script src="{% static 'js/eventemitter2.js' %}"></script>
<script src="{% static 'js/roslib.js' %}"></script>
<script src="{% static 'js/ros2d.js' %}"></script>
<script src="{% static 'js/menus.js' %}"></script>
<script src="{% static 'js/loop.js' %}"></script>
<script src="{% static 'js/loop_ros.js' %}"></script>
<script src="{% static 'js/loop_statistics.js' %}"></script>
<!-- Added for datetime picker, due to use of static -->
<script>
    var imageFilesPath = "{% static 'img/' %}";
</script>
<meta name="viewport" content="width=device-width" />
{% endblock app_imports %}

{% block content %}
<div id="content">
    <p class="breadcrumbs"><a href="{% url 'command_center:project_list' %}">< Projects</a></p>
    <H1>Loop</H1>
    {% if system_messages %}
        <div style="flex: 0 1 100%" id="system_messages">
            <p>{{ system_messages }}</p>
        </div>
    {% endif %}
    <div id="robots_list_container">
        {% if loop_detail or loop_log_flag %}
            <p onclick="switch_display('robots_list')">Robots in Loop <img src="{% static 'img/cal_minus.gif' %}" ></p>
        {% else %}
            <p>Robots in Loop</p>
        {% endif %}
        <div id="robots_list" {% if loop_detail or loop_log_flag %} style="display:none" {% endif %}>
        {% if loop_project_list %}
                {% for r in loop_project_list %}
                    <div class="list-item">
                        <a href="{% url 'loop:loop_detail' r.name %}"><div class="item-container">
                            <img src="{% get_static_prefix %}img/robots/{{ r.name|lower }}.png" alt="{{ r.name }}" />
                            <div class="hover-text">
                                <a href="{% url 'loop:loop_detail' r.name %}" class="hover-text-a">{{ r.name }}</a>
                            </div>
                        </div></a>
                    </div>
                {% endfor %}
        {% else %}
            <p>There are no robots associated with this project.</p>
        {% endif %}
        </div>
    </div>
    <div id="loop_details">
    {% if loop_detail or loop_log_flag %}
        <div id="navbar">
            <a href="{% url 'loop:loop_detail' 'Loop' %}"><button class="tab_button" {% if loop_detail %}id="open"{% endif %}>Statistics</button></a>
            <a href="{% url 'loop:loop_log_list' 'Loop' %}"><button class="tab_button" {% if loop_log_flag %}id="open"{% endif %}>Logs</button></a>
        </div>
        {% if loop_log_flag %}
        <div class="tabcontent" id="logs">
            <div class="flex-title"><h3>Logs</h3></div>
            <div>
                <form>
                    {% csrf_token %}
                    <fieldset>
                        <legend>Filters</legend>
                        <div class="flex-row-wrapper">
                            <div class="multiselect">
                                <div class="selectBox" onclick="showCheckboxes()" style="width: 300px;">Select nodes<img src="{% static 'img/cal_minus.gif' %}" /></div>
                                <div id="checkboxes">
                                    {% for node in loop_nodes %}
                                        <div><input type="checkbox" name="nodes" value="{{ node.node }}" checked>{{ node.node }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div>From: <input type="datetime-local" id="start_input" name="start" value="">
                            </div>
                            <div>To: <input type="datetime-local" id="stop_input" name="stop" value="">
                            </div>
                            <input type="submit">
                        </div>
                    </fieldset>
                </form>
                <script>
                    set_default_values();
                </script>
            </div>
            <div id="page_select" align="center">
                Page:
                {% if page_obj.has_previous %}<img class="page_nav" src="{% static 'img/cal_reverse.gif' %}" onclick="change_page({{ page_obj.previous_page_number }});">{% endif %}
                <span id="curr_page">{{ page_obj.number }} of {{ paginator.num_pages }}</span>
                {% if page_obj.has_next %}<img class="page_nav" src="{% static 'img/cal_forward.gif' %}" onclick="change_page({{ page_obj.next_page_number }});">{% endif %}
            </div>
            <table id="log_table">
                <thead>
                    <tr>
                        <th style="width: 20%;">Node</th>
                        <th style="width: 15%;">Day</th>
                        <th style="width: 15%;">Time</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                {% for l in loop_log_list %}
                    <tr>
                        <td>{{ l.node }}</td>
                        <td>{{ l.timestamp|date:"d M Y" }}</td>
                        <td>{{ l.timestamp|date:"G:i:s" }}</td>
                        <td>{{ l.data }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% elif loop_detail %}
            <div class="tabcontent" id="statistics">
                <div class="flex-title"><h3>Statistics</h3></div>
                <div id="missions_info_div">
                    <p id="daily_stats"></p>
                    <p id="week_stats"></p>
                    <p id="month_stats"></p>
                </div>
                <div id="missions_chart_div">
                    Ano: <select id="mission_year" onchange="list_weeks()"></select>
                    Semana: <select id="mission_week" onchange="display_plot()"></select>
                    <canvas id="missions_chart" width="200px" height="100px"></canvas>
                </div>
            </div>

        <script>
            list_years();
            list_weeks();
            display_plot();
        </script>
        {% endif %}
    {% endif %}
    </div>
</div>
{% endblock %}