{% extends "base.html" %}

{% block app_imports %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/loop.css' %}" />
<link rel="stylesheet" href="{% static '/css/loop_statistics.css' %}" />
<script src="{% static '/js/moment.js' %}"></script>
<script src="{% static '/js/Chart.js' %}"></script>
<script src="{% static '/js/datetimepicker_css.js' %}"></script>
<script src="{% static '/js/easeljs.js' %}"></script>
<script src="{% static '/js/eventemitter2.js' %}"></script>
<script src="{% static '/js/roslib.js' %}"></script>
<script src="{% static '/js/ros2d.js' %}"></script>
<script src="{% static '/js/menus.js' %}"></script>
<script src="{% static '/js/loop.js' %}"></script>
<script src="{% static '/js/loop_ros.js' %}"></script>
<script src="{% static '/js/loop_statistics.js' %}"></script>
<!-- Added for datetime picker, due to use of static -->
<script>
    var imageFilesPath = "{% static 'img/' %}";
</script>
<meta name="viewport" content="width=device-width" />
{% endblock app_imports %}

{% block content %}
<div id="content">
    <p class="breadcrumbs"><a href="{% url 'command_center:project_list' %}">< Projects</a></p>
    <H1>Loop</H1>
    {% if system_messages %}
        <div style="flex: 0 1 100%" id="system_messages">
            <p>{{ system_messages }}</p>
        </div>
    {% endif %}
    <div id="robots_list_container">
        {% if loop_detail %}
            <p onclick="switch_display('robots_list')">Robots in Loop <img src="{% static 'img/cal_minus.gif' %}" ></p>
        {% else %}
            <p>Robots in Loop</p>
        {% endif %}
        <div id="robots_list" {% if loop_detail %} style="display:none" {% endif %}>
        {% if loop_list %}
                {% for r in loop_list %}
                    <div class="list-item">
                        <div class="item-container">
                            <img src="{% get_static_prefix %}img/robots/{{ r.name|lower }}.png" alt="{{ r.name }}" />
                            <div class="hover-text">
                                <a href="{% url 'loop:loop_detail' r.name %}" class="hover-text-a">{{ r.name }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        {% else %}
            <p>There are no robots associated with this project.</p>
        {% endif %}
        </div>
    </div>
    <div id="loop_details">
    {% if loop_detail %}
        <div id="navbar">
            <button class="tab_button" onclick="select_tab(event, 'statistics')">Statistics</button>
            <button class="tab_button" id="open" onclick="select_tab(event, 'logs')">Logs</button>
        </div>
        <div class="tabcontent" id="logs">
            <div class="flex-title"><h3>Logs</h3></div>
            <div>
                <form>
                    <fieldset>
                        <legend>Filters</legend>
                        <div class="flex-row-wrapper">
                            <div class="multiselect">
                                <div class="selectBox" onclick="showCheckboxes()" style="width: 200px;" >
                                <select>
                                    <option>Select nodes</option>
                                </select>
                                <div class="overSelect"></div>
                                </div>
                                <div id="checkboxes">
                                    {% for node in loop_nodes %}
                                        <label for="{{ node.node }}">
                                        <input type="checkbox" class="log_nodes" id="{{ node.node }}" onchange="update_table()" checked>{{ node.node }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div>From: <input id="log_start" type="text" maxlength="25" size="25" onchange="update_table()">
                                <img src="{% static 'img/cal.gif' %}" style="cursor: pointer"
                                     onclick="javascript:NewCssCal('log_start','ddMMYYYY','arrow',true,'24',false)" />
                            </div>
                            <div>To: <input id="log_end" type="text" maxlength="25" size="25" onchange="update_table()">
                                <img src="{% static 'img/cal.gif' %}" style="cursor: pointer"
                                     onclick="javascript:NewCssCal('log_end','ddMMYYYY','arrow',true,'24',false)" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div id="page_select" align="center">
                Page:
                <img class="page_nav" src="{% static 'img/cal_reverse.gif' %}" onclick="change_page(-1)" >
                <span id="curr_page">1 of 1</span>
                <img class="page_nav" src="{% static 'img/cal_forward.gif' %}" onclick="change_page(1)" >
            </div>

            <table id="log_table">
                <thead>
                    <tr>
                        <th style="width: 20%;">Node</th>
                        <th style="width: 15%;">Day</th>
                        <th style="width: 15%;">Time</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="tabcontent" id="statistics" style="display: none">
            <div class="flex-title"><h3>Statistics</h3></div>
            <div id="missions_info_div">
                <p id="week_stats"></p>
                <p id="month_stats"></p>
            </div>
            <div id="missions_chart_div">
                Ano: <select id="mission_year" onchange="list_weeks()"></select>
                Semana: <select id="mission_week" onchange="display_plot()"></select>
                <canvas id="missions_chart" width="200px" height="100px"></canvas>
            </div>
        </div>
        <script>
            list_years();
            list_weeks();
            display_plot();
            update_table();
        </script>
    {% endif %}
    </div>
</div>
{% endblock %}