{% extends "base.html" %}
{% load static %}
{% block app_imports %}
    <link rel="stylesheet" media="screen and (min-width: 600px)" href="{% static 'css/screen/command.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="{% static 'css/smallscreen/command.css' %}">
{% endblock %}
{% block title %}Command Center{% endblock %}

{% block content %}
<h1>Command Center</h1>
<div id="content">
    <div id="projects_list">
        {% if projects %}
            {% for p in projects %}
                <div class="list-item">
                    <div class="item-container">
                        <img src="{% get_static_prefix %}img/projects/{{ p|lower }}.png" alt="{{ p }}" />
                        <div class="hover-text">
                            <a href="{{ p.app_name }}/"><p class="hover-text-p">{{ p }}</p></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>There are no projects to display</p>
        {% endif %}
    </div>
    <div id="models_list">
        {% if models %}
            {% for m in models %}
                <div class="list-item">
                    <div class="item-container">
                        <img src="{% get_static_prefix %}img/models/{{ m|lower }}.png" alt="{{ m }}" />
                        <div class="hover-text">
                            <p class="hover-text-p">{{ m }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>There are no robot models to display</p>
        {% endif %}
    </div>
</div>
{% endblock %}
