{% extends "base.html" %}
{% load static %}
{% block app_imports %}
    <link rel="stylesheet" media="screen and (min-width: 600px)" href="{% static 'css/screen/command.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="{% static 'css/smallscreen/command.css' %}">
{% endblock %}
{% block title %}Command Center{% endblock %}

{% block content %}
<div id="content">
    <div id="main_menu">
        <div class="main_menu_item">
            <a href="{% url 'command_center:project_list' %}"><div class="item_container">
                <img src="{% get_static_prefix %}img/projects.png" alt="Projects" />
                <div class="hover-text">
                    <a href="{% url 'command_center:project_list' %}" class="hover-text-a">Projects</a>
                </div>
            </div></a>
        </div>
        <div class="main_menu_item">
            <a href="{% url 'command_center:robot_list' %}" class="hover-text-a"><div class="item_container">
                <img src="{% get_static_prefix %}img/robots.png" alt="Robots" />
                <div class="hover-text">
                    <a href="{% url 'command_center:robot_list' %}" class="hover-text-a">Robots</a>
                </div>
            </div></a>
        </div>
    </div>
</div>
{% endblock %}
