{% extends "base.html" %}
{% load static %}
{% block app_imports %}
    <link rel="stylesheet" media="screen and (min-width: 600px)" href="{% static 'css/screen/projects.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="{% static 'css/smallscreen/projects.css' %}">
{% endblock %}
{% block title %}Command Center - Projects{% endblock %}

{% block content %}
<div id="content">
    <div id="projects_list">
        {% if projects %}
            {% for p in projects %}
                <div class="list-item">
                    <a href="/{{ p.app_name }}/"><div class="item-container">
                        <img src="{% get_static_prefix %}img/projects/{{ p|lower }}.png" alt="{{ p }}" />
                        <div class="hover-text">
                            <a href="/{{ p.app_name }}/" class="hover-text-a">{{ p }}</a>
                        </div>
                    </div></a>
                </div>
            {% endfor %}
        {% else %}
            <p>There are no projects to display</p>
        {% endif %}
    </div>
</div>
{% endblock %}
