{% extends "base.html" %}
{% load static %}
{% block app_imports %}
    <link rel="stylesheet" media="screen and (min-width: 600px)" href="{% static 'css/screen/projects.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="{% static 'css/smallscreen/projects.css' %}">
{% endblock %}
{% block title %}Command Center - Projects{% endblock %}

{% block content %}
<div id="content">
    <div id="robot_list">
        STILL UNDER WORK - Divide by models
        {% if robots %}
            {% for r in robots %}
                <div class="list-item">
                    <div class="item-container">
                        <img src="{% get_static_prefix %}img/robots/{{ r|lower }}.png" alt="{{ r }}" />
                        <div class="hover-text">
                            <a href="" class="hover-text-a">{{ r }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>There are no robots to display</p>
        {% endif %}
    </div>
</div>
{% endblock %}
