#content{
    display: flex;
    flex-direction: row;
}

#content #main_menu{
    margin: 10px auto;
    flex: 0 0 100%;
    /*border: 3px solid black;*/
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#content .main_menu_item{
    flex: 0 0 40%;
    margin: 5px 5px;
}

#content .main_menu_item .item_container{
    position: relative;
    width: 100%;
}

#content .main_menu_item .item_container img{
    opacity: 1;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
    transition: .25s ease;
    backface-visibility: hidden;
}

#content .main_menu_item .item_container .hover-text{
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#content .main_menu_item .item_container .hover-text-a{
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    font-size: 2.5vmax;
    color: black;
}

#content .main_menu_item .item_container:hover img{
    opacity: 0.3;
}

#content .main_menu_item .item_container:hover .hover-text{
    opacity: 1;
}
