#navbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 1% 0 1%;
    background-color: white;
    /*border: 3px solid red;*/
}

#navbar li{
    flex: 0 1 auto;
    list-style: none;
}

#navbar li p{
    padding: 0 20px 0 10px;
    border-bottom: 2px ridge #565656;
    border-left: 5px ridge rgba(0,0,0,0);
}

#navbar li p:hover{
    border-left: 5px ridge #565656;
}

#navbar li a:link, li a:visited{
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5vmax;
    line-height: 2.5vmax;
    color: #565656;
    text-decoration:  none;
}

