#navbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 0 0;
    background-color: white;
    /*border: 3px solid red;*/
}

#navbar .navbar_button{
    flex: 0 0 auto;
    background-color: #eee;
    cursor: pointer;
    width: 100%;
}

#navbar .active, #navbar .navbar_button:hover {
  background-color: #ccc;
}

#navbar .navbar_projects_button {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

#navbar .navbar_models_button {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}