body {
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: 'Exo 2', sans-serif;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    /*border: 2px red solid;*/
}

#container #dark_top{
    flex: 0 1 100%;
    margin: 0 0 0 0;
    padding: 0;
    background-color: #565656;
    width: 100%;
    height: 33px;
}

#container #header_frame{
    flex: 0 1 100%;
    padding: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

#container #navbar_frame{
    flex: 0 1 20%;
    padding: 0px 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /*border-bottom: 1px solid rgba(0,0,0,0.1);*/
    border-right: 1px solid rgba(0,0,0,0.1);
}
#container #content_frame{
    flex: 1 1 75%;
    padding: 20px;
    /*border-bottom: 1px solid rgba(0,0,0,0.1);*/
}

#container #footer_frame{
    flex: 0 1 100%;
    padding: 20px;
    /*border-bottom: 1px solid rgba(0,0,0,0.1);*/
}

