{% extends "base.html" %}
{% load static %}
{% block app_imports %}
    <link rel="stylesheet" media="screen and (min-width: 600px)" href="{% static 'css/screen/command.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="{% static 'css/smallscreen/command.css' %}">
{% endblock %}
{% block title %}Command Center{% endblock %}

{% block content %}
<div id="content">
    <div id="login_menu">
        Access to this site is restricted to IDMind's collaborators. Please login.
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
    </div>
</div>
{% endblock %}
