{% extends "base.html" %}
{% load static %}
{% block app_imports %}
    <link rel="stylesheet" media="screen and (min-width: 600px)" href="{% static 'css/screen/command.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="{% static 'css/smallscreen/command.css' %}">
{% endblock %}
{% block title %}Command Center{% endblock %}

{% block content %}
<div id="content">
    <div id="login_menu">
        Access to this site is restricted to IDMind's collaborators.
        <h2>Logged out</h2>
    </div>
</div>
{% endblock %}
