/***********************************************/
/*                  STATISTICS                 */

#content #statistics{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#content #statistics #missions_chart_div{
    flex: 0 1 auto;
    background-color: #D6DBDF;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    min-width: 300px;
    min-height: 300px;
    width: 60%;
}

#content #statistics #missions_chart{
    width: 50px;
}

#content #statistics #missions_info_div{
    flex: 0 1 auto;
    background-color: #D6DBDF;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    min-width: 300px;
    min-height: 300px;
    width: 30%;
}
/***********************************************/