.content #navbar{
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.content #navbar .tab_button{
    font-family: inherit;
    font-size: 16px;
    //font-weight: bold;
    flex: 0 1 150px;
    background-color: #e6e6e6;
    outline: none;
    margin: 0;
    padding: 5px;
    cursor: pointer;
    z-index: 5;
}

.content #navbar #open{
    background-color: white;
    border-bottom: 1px solid white;
}

.content .tabcontent{
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin-top: -2px;
    /*border-left: 1px solid black;
    border-bottom: 1px solid black;*/
    border: 2px solid #e6e6e6;
    z-index: 1;
}

.content #current_state{
    display: none;
}


.flex-row-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.flex-row-wrapper > div{
    flex: 0 1 auto;
}

#log_start{
    font-family: 'Exo 2', sans-serif;
}

#log_end{
    font-family: 'Exo 2', sans-serif;
}

/* Checkboxes with nodes names */
#checkboxes{
    display: none;
    flex-direction: column;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/*****************************/

/* Log page navigation */
#page_select{
    margin: 10px 10px;
}
.page_nav{
    cursor: pointer;
}

/***********************/
.content #logs #log_table{
    width: 100%;
    /*border: 2px solid red;*/
    text-align: left;
}

.content .flex-title{
    flex: 0 1 100%;
    width: 100%;
}