#container #header_frame #header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1% 0 1%;
    background-color: #00000;
    height: 60px;
    /*border: 3px solid red;*/
}

#container #header_frame *{
    margin: 0 auto;
}

#container #header_frame #header #roscore_msgs{
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 20px;
}
