#content{
    display: flex;
    flex-direction: column;
}

#content #projects_list{
    margin: 10px auto;
    flex: 0 0 100%;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#content #models_list{
    margin: 10px auto;
    flex: 0 0 100%;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#content .list-item{
    flex: 0 1 10%;
    margin: 5px 5px;
}

#content .list-item .item-container{
  position: relative;
  width: 100%;
}

#content .list-item .item-container img{
    opacity: 1;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    border: 1px solid black;
    transition: .25s ease;
    backface-visibility: hidden;
}

#content .list-item .item-container .hover-text{
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#content .list-item .item-container:hover img{
    opacity: 0.3;
}

#content .list-item .item-container:hover .hover-text{
    opacity: 1;
}
