#container #content_frame #content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: even;
    padding: 0 1% 0 1%;
    background-color: white;
    /*border: 3px solid red;*/
}

#container #content_frame #content h1{
    flex: 0 0 100%;
}
