<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Exo+2|Open+Sans" rel="stylesheet">
    <!-- CSS definitions -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" media="screen and (min-width: 600px)" href="{% static 'css/screen/style.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="{% static 'css/smallscreen/style.css' %}">
    <link rel="stylesheet" media="screen and (min-width: 600px)" href="{% static 'css/screen/header.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="{% static 'css/smallscreen/header.css' %}">
    <link rel="stylesheet" media="screen and (min-width: 600px)" href="{% static 'css/screen/navbar.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="{% static 'css/smallscreen/navbar.css' %}">
    <link rel="stylesheet" media="screen and (min-width: 600px)" href="{% static 'css/screen/content.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="{% static 'css/smallscreen/content.css' %}">
    <script src="{% static 'js/navbar.js' %}"></script>

    {% block app_imports %}{% endblock %}
    <title>{% block title %}IDMind Server{% endblock %}</title>

</head>
<body>
    <div id="container">
        <div id="dark_top">{% if user.is_authenticated %}<a href="/accounts/logout"><div id="logout">Logout</div></a>{% endif %}</div>
        <div id="header_frame">
            <div id="header">
                <a href="/">
                    <img src="{% static 'img/logo_header.png' %}" width="232" height="80" alt="IDMind" />
                </a>
            </div>
        </div>
<!--        <div id="navbar_frame">-->
<!--            {% block navbar %}-->
<!--            <div id="navbar">-->
<!--                <button class="navbar_button" id="navbar_projects" onclick="toggle_menu(this);">Projects</button>-->
<!--                {% for project in request.GET.navbar_projects %}-->
<!--                    <div class="navbar_projects_button"><p>{{ project.name }}</p></div>-->
<!--                {% endfor %}-->
<!--                <button class="navbar_button" id="navbar_models" onclick="toggle_menu(this);">Models</button>-->
<!--                {% for model in request.GET.navbar_models %}-->
<!--                    <div class="navbar_models_button"><p>{{ model.name }}</p></div>-->
<!--                {% endfor %}-->

<!--            </div>-->
<!--            {% endblock %}-->
<!--        </div>-->
        <div id="content_frame">
            {% block content %}{% endblock %}
        </div>
        <div id="footer_frame">
            {% block footer %}{% endblock %}
        </div>
    </div>
</body>
</html>