{% extends "base.html" %}

{% block app_imports %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/sugal.css' %}" />
<link rel="stylesheet" href="{% static 'css/gps_modal.css' %}" />
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}" />
<script src="{% static 'js/sugal.js' %}"></script>
<script src="{% static 'js/gps_modal.js' %}"></script>
<script src="{% static 'js/datepicker.js' %}"></script>
{% endblock app_imports %}

{% block content %}
<div id="content">
    <p class="breadcrumbs"><a href="{% url 'command_center:project_list' %}">< Projects</a></p>
    <H1>SUGAL - FORM UNDER WORK</H1>
    {% if system_messages %}
        <div style="flex: 0 1 100%" id="system_messages">
            <p>{{ system_messages }}</p>
        </div>
    {% endif %}
    {% if gps_devices %}
        <table id="device_list_table">
            <thead>
            <tr>
                <th>Box</th>
                <th>IMEI</th>
                <th>Server</th>
                <th>Charging</th>
                <th>Warnings</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for g in gps_devices %}
                <tr>
                    <td>{{ g.box_nr }}</td>
                    <td>{{ g.imei }}</td>
                    <td>{{ g.server }}</td>
                    <td>{{ g.charging }}</td>
                    <td>
                        {% if g.warning == 0 %}<a href="{% url 'sugal:sugal_detailview' g.imei %}"><img src="{% static 'img/green_light.jpg' %}" height="15px" /></a>
                        {% elif g.warning == 1 %}<a href="{% url 'sugal:sugal_detailview' g.imei %}"><img src="{% static 'img/yellow_light.jpg' %}" height="15px" /></a>
                        {% elif g.warning == 2 %}<a href="{% url 'sugal:sugal_detailview' g.imei %}"><img src="{% static 'img/red_light.jpg' %}" height="15px" /></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no GPS devices in the database. Add GPS</p>
    {% endif %}
</div>
{% endblock %}
