{% extends "base.html" %}

{% block app_imports %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/sugal.css' %}" />
<link rel="stylesheet" href="{% static 'css/gps_modal.css' %}" />
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}" />
<script src="{% static 'js/sugal.js' %}"></script>
<script src="{% static 'js/gps_modal.js' %}"></script>
<script src="{% static 'js/datepicker.js' %}"></script>
<script src="{% static 'js/moment.js' %}"></script>
<script src="{% static 'js/Chart.js' %}"></script>
{% endblock app_imports %}

{% block content %}
<div id="content">
    <p class="breadcrumbs"><a href="{% url 'sugal:sugal_listview' %}">< GPS List</a></p>
    <H1>SUGAL</H1>
    {% if system_messages %}
        <div style="flex: 0 1 100%" id="system_messages">
            <p>{{ system_messages }}</p>
        </div>
    {% endif %}
    <div id="device_detail">
    {% if gps_detail %}
        <div id="gps_selection">
<!--            <form method="GET" action="choose_gps">-->
    <!--        <p>Choose GPS: <select id="detail_imei" oninput="request_plot_data(new Date())">-->
                <p>Choose GPS: <select name="gps_id" id="detail_imei" onchange="window.location.href='/sugal/detail/'+this.value">
                {% for dev in gps_list %}
                    <option {% ifequal dev.imei gps_detail.imei %} selected="selected" {% endifequal %} value="{{ dev.imei }}">Box: {{ dev.box_nr }} - {{ dev.imei }}</option>
                {% endfor %}
                </select>
<!--                <input type="submit" value="Go">-->
                </p>
<!--            </form>-->
        </div>
        <div id="info_div">
            <table width="100%">
            {% for name, value in gps_detail.as_dict %}
                <tr><td style='font-weight:bold'>{{ name }}</td><td align="right">{{ value }}</td></tr>
            {% endfor %}
            </table>
            <p align="center"><a href="{% url 'sugal:sugal_edit_gps' gps_detail.imei %}"><button>Edit <img src="{% static 'img/edit.png' %}" height="15px"/></button></a></p>
        </div>
        <div id="gps_chart">
            <div><label for="log_calendar">Choose Day</label><input type="date" id="log_calendar" oninput="update_plot_data()"/></div>
            <canvas id="gpslog_chart" width="200px" height="100px"></canvas>
        </div>
        <div id="loglist">
            <table id="log_list_table">
                <thead>
                    <tr>
                        <td>Received</td>
                        <td>Generated</td>
                        <td>Lat.</td>
                        <td>Long.</td>
                        <td>Event</td>
                        <td>Speed</td>
                        <td>Valid</td>
                        <td>Battery</td>
                        <td>Ext. Battery</td>
                    </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                    <tr><td colspan="9"><a href="{% url 'sugal:sugal_fulllogs' gps_detail.imei %}"><button>Full logs</button></a></td></tr>
                </tfoot>
            </table>
        </div>
        <script>
            today = new Date();
            document.getElementById("log_calendar").value = convert_date(today, 'ymd');
            document.getElementById("log_calendar").max = convert_date(today, 'ymd');
            request_plot_data(today);
            request_gps_logs('-timestamp_received', 10);
        </script>

    {% else %}
        <p>No GPS devices are available.</p>
    {% endif %}
    </div>

</div>
{% endblock %}
