{% extends "base.html" %}

{% block app_imports %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/sugal.css' %}" />
<link rel="stylesheet" href="{% static 'css/gps_modal.css' %}" />
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}" />
<script src="{% static 'js/sugal.js' %}"></script>
<script src="{% static 'js/gps_modal.js' %}"></script>
<script src="{% static 'js/datepicker.js' %}"></script>
{% endblock app_imports %}

{% block content %}
<div id="content">
    <p class="breadcrumbs"><a href="{% url 'command_center:project_list' %}">< Projects</a></p>
    <H1>SUGAL</H1>
    {% if system_messages %}
        <div style="flex: 0 1 100%" id="system_messages">
            <p>{{ system_messages }}</p>
        </div>
    {% endif %}
    {% if gps_devices %}
        <div id="gps_filter">
            <div id="gps_count">Showing 0 GPS</div>
            <div class="gps_filter_class">Box Nr. <input type="text" id="box_filter" onchange="request_gps_list('box_nr')"></div>
            <div class="gps_filter_class">IMEI <input type="text" id="imei_filter" onchange="request_gps_list('box_nr')"></div>
            <div class="gps_filter_class" >Server
                <select id="server_filter" onchange="request_gps_list('box_nr')">
                    <option value="All" selected>All</option>
                    <option value="PROD PT">PT</option>
                    <option value="PROD ES">ES</option>
                    <option value="QA">Q</option>
                    <option value="O">Other</option>
                </select>
            </div>
            <div class="gps_filter_class">Charging
                <input type="checkbox" id="charging_filter_yes" onchange="request_gps_list('box_nr')"><label for="charging_filter_yes">Yes</label>
                <input type="checkbox" id="charging_filter_no" onchange="request_gps_list('box_nr')"><label for="charging_filter_no">No</label>
            </div>
        </div>
        <table id="device_list_table">
            <thead>
            <tr>
                <th onclick="request_gps_list('box_nr')"><a>Box</a></th>
                <th onclick="request_gps_list('imei')">IMEI</th>
                <th onclick="request_gps_list('server')">Server</th>
                <th onclick="request_gps_list('charging')">Charging</th>
                <th onclick="request_gps_list('warning')">Warnings</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    {% else %}
        <p>There are no GPS devices in the database. Add GPS</p>
    {% endif %}
</div>
<script>
    request_gps_list('box_nr');
</script>
{% endblock %}
