{% extends "base.html" %}

{% block app_imports %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/sugal.css' %}" />
<link rel="stylesheet" href="{% static 'css/gps_modal.css' %}" />
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}" />
<script src="{% static 'js/sugal.js' %}"></script>
<script src="{% static 'js/gps_modal.js' %}"></script>
<script src="{% static 'js/datepicker.js' %}"></script>
<script src="{% static 'js/moment.js' %}"></script>
<script src="{% static 'js/Chart.js' %}"></script>
{% endblock app_imports %}

{% block content %}
<div id="content">
    <p class="breadcrumbs"><a href="{% url 'sugal:sugal_detailview' gps_detail.imei %}">< GPS Detail</a></p>
    <H1>SUGAL</H1>
    {% if system_messages %}
        <div style="flex: 0 1 100%" id="system_messages">
            <p>{{ system_messages }}</p>
        </div>
    {% endif %}
    <div id="loglist_container">

            <h3>Logs for GPS {{ gps_detail.imei }}</h3>
            <div>
                <form>
                    {% csrf_token %}
                    <fieldset>
                        <legend>Filters</legend>
                        <div class="flex-row-wrapper">
                            <div>From: <input type="datetime-local" id="start_input" name="start" value="">
                            </div>
                            <div>To: <input type="datetime-local" id="stop_input" name="stop" value="">
                            </div>
                            <div>Event: <select id="log_event" name="log_event">
                                <option value="all" selected="selected">All</option>
                                {% for ev in gps_events %}
                                <option value="{{ ev.event }}">Event {{ ev.event }}</option>
                                {% endfor %}</select>
                            </div>
                            <div>Valid: <select id="log_valid" name="log_valid">
                                <option value="all" selected="selected">All</option>
                                {% for v in gps_valid %}
                                <option value="{{ v.valid }}">{{ v.valid }}</option>
                                {% endfor %}</select>
                            </div>

                            <input type="submit">
                        </div>
                    </fieldset>
                </form>
                <script>
                    set_form_defaults();
                </script>
            </div>
        {% if gps_logs %}
            <div id="page_select" align="center">
                Page:
                {% if page_obj.has_previous %}<img class="page_nav" src="{% static 'img/cal_reverse.gif' %}" onclick="change_page({{ page_obj.previous_page_number }})">{% endif %}
                <span id="curr_page">{{ page_obj.number }} of {{ paginator.num_pages }}</span>
                {% if page_obj.has_next %}<img class="page_nav" src="{% static 'img/cal_forward.gif' %}" onclick="change_page({{ page_obj.next_page_number }})">{% endif %}
            </div>
            <div id="loglist">
                <table id="log_list_table">
                    <thead>
                        <tr>
                            <td>Received</td>
                            <td>Generated</td>
                            <td>Lat.</td>
                            <td>Long.</td>
                            <td>Event</td>
                            <td>Speed</td>
                            <td>Valid</td>
                            <td>Battery</td>
                            <td>Ext. Battery</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for l in gps_logs %}
                            <tr>
                                <td>{{ l.timestamp_received }}</td>
                                <td>{{ l.timestamp_msg }}</td>
                                <td>{{ l.latitude }}</td>
                                <td>{{ l.longitude }}</td>
                                <td>{{ l.event }}</td>
                                <td>{{ l.speed }}m/s</td>
                                <td>{{ l.valid }}</td>
                                <td>{{ l.battery }}V</td>
                                <td>{{ l.ext_battery }}V</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <p>No Logs for this device using these filters are available.</p>
            {% endif %}
    </div>

</div>
{% endblock %}
