{% extends "base.html" %}

{% block app_imports %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/sugal.css' %}" />
<link rel="stylesheet" href="{% static '/css/gps_modal.css' %}" />
<link rel="stylesheet" href="{% static '/css/datepicker.css' %}" />
<script src="{% static 'js/sugal.js' %}"></script>
<script src="{% static 'js/gps_modal.js' %}"></script>
<script src="{% static 'js/datepicker.js' %}"></script>
<meta name="viewport" content="width=device-width" />
{% endblock app_imports %}

{% block content %}
<div id="content">
    <H1>SUGAL</H1>
    {% if system_messages %}
        <div style="flex: 0 1 100%" id="system_messages">
            <p>{{ system_messages }}</p>
        </div>
    {% endif %}
    <div id="navbar">
        <!--<button class="tab_button" {% if gps_table %} id="open" {% endif %} onclick="location.href=/sugal/' %}">Device List</button>-->
        <button class="tab_button" {% if gps_devices or new_gps or edit_gps %} id="open" {% endif %} onclick="location.href='{% url 'sugal:sugal_listview' %}'">Device List</button>
        <button class="tab_button" {% if gps_detail %} id="open" {% endif %} onclick="location.href='{% url 'sugal:sugal_detailview' %}'">Device Detail</button>
        <button class="tab_button" {% if gps_log %} id="open" {% endif %} onclick="location.href='{% url 'sugal:sugal_logview' %}'">Logs</button>
    </div>

    {% if gps_devices or new_gps or edit_gps %}
    <div class="tabcontent" id="device_list">
        {% if new_gps %}
        <h3> Add New GPS</h3>
        <table>
            <form method="post">{% csrf_token %}
                {{ form.as_table }}
                <tr><td colspan="2"><input type="submit" value="Save"></td></tr>
            </form>
        </table>
        {% elif edit_gps %}
        <h3> Edit GPS</h3>
        <table>
            <form method="post">{% csrf_token %}
                {{ form.as_table }}
                <tr><td colspan="2"><input type="submit" value="Save"></td></tr>
            </form>
        </table>
        {% elif gps_devices %}
        <div>
            <p><a href="{% url 'sugal_create_gps' %}"><button>Add GPS</button></a></p>
            0<table id="device_list_table">
                <thead>
                    <tr>
                        <th><a href="{% url 'sugal:sugal_listview_order' 'state_asc' %}"><img src="{% static 'img/arrow_up.png' %}" height="15px" /></a>State<a href="{% url 'sugal:sugal_listview_order' 'state_dsc' %}"><img src="{% static 'img/arrow_down.png' %}" height="15px" /></a></th>
                        <th><a href="{% url 'sugal:sugal_listview_order' 'box_nr_asc' %}"><img src="{% static 'img/arrow_up.png' %}" height="15px" /></a>Box<a href="{% url 'sugal:sugal_listview_order' 'box_nr_dsc' %}"><img src="{% static 'img/arrow_down.png' %}" height="15px" /></a></th>
                        <th>IMEI</th>
                        <th>Server</th>
                        <th>Phone Nr.</th>
                        <th>License</th>
                        <th><a href="{% url 'sugal:sugal_listview_order' 'warning_asc' %}"><img src="{% static 'img/arrow_up.png' %}" height="15px" /></a>Warnings<a href="{% url 'sugal:sugal_listview_order' 'warning_dsc' %}"><img src="{% static 'img/arrow_down.png' %}" height="15px" /></a></th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dev in gps_devices %}
                    <tr>
                        <td>{{ dev.state }}</td>
                        <td>{{ dev.box_nr }}</td>
                        <td>{{ dev.imei }}</td>
                        <td>{{ dev.server }}</td>
                        <td>{{ dev.phone_number }}</td>
                        <td>{{ dev.license_plate }}</td>
                        <td>
                            {% if dev.warning == 0 %}<a href="{% url 'sugal:sugal_detailview' dev.imei %}"><img src="{% static 'img/green_light.jpg' %}" height="15px" /></a>
                            {% elif dev.warning == 1 %}<a href="{% url 'sugal:sugal_detailview' dev.imei %}"><img src="{% static 'img/yellow_light.jpg' %}" height="15px" /></a>
                            {% elif dev.warning == 2 %}<a href="{% url 'sugal:sugal_detailview' dev.imei %}"><img src="{% static 'img/red_light.jpg' %}" height="15px" /></a>
                            {% endif %}
                        </td>
                        <td><a href="{% url 'sugal:sugal_edit_gps' dev.imei %}"><img src="{% static 'img/edit.png' %}" height="15px"/></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div><p>No GPS devices are available.</p></div>
        {% endif %}
    </div>
    {% elif gps_detail %}
    <div class="tabcontent" id="device_detail">
        {% if gps_detail %}
        <div id="gps_selection">
            <form method="GET" action="choose_gps">
    <!--        <p>Choose GPS: <select id="detail_imei" oninput="request_plot_data(new Date())">-->
                <p>Choose GPS: <select name="gps_id" id="detail_imei" >
                {% for dev in gps_list %}
                    <option {% ifequal dev.imei gps_detail.imei %} selected="selected" {% endifequal %} value="{{ dev.imei }}">Box: {{ dev.box_nr }} - {{ dev.imei }}</option>
                {% endfor %}
                </select>
                <input type="submit" value="Go">
                </p>
            </form>
        </div>
        <div id="info_div">
            <table width="100%">
            {% for name, value in gps_detail.as_dict %}
                <tr><td style='font-weight:bold'>{{ name }}</td><td align="right">{{ value }}</td></tr>
            {% endfor %}
            </table>
            <p align="center"><a href="{% url 'sugal:sugal_edit_gps' gps_detail.imei %}"><button>Edit <img src="{% static 'img/edit.png' %}" height="15px"/></button></a></p>
        </div>
        <div id="gps_chart">
            <div><label for="log_calendar">Choose Day</label><input type="date" id="log_calendar" oninput="update_plot_data()"/></div>
            <canvas id="gpslog_chart" width="200px" height="100px"></canvas>
        </div>
        <script>
            today = new Date();
            document.getElementById("log_calendar").value = convert_date(today, 'ymd');
            document.getElementById("log_calendar").max = convert_date(today, 'ymd');
            request_plot_data(today);
        </script>

        {% else %}
        <p>No GPS devices are available.</p>
        {% endif %}

    </div>
    {% elif gps_log_view %}
    <div class="tabcontent" id="log_history">
        <div style="margin: 10px">
    <!--        <label for="log_list_calendar">Choose Day</label><input type="date" id="log_list_calendar" oninput="location.href='{% url 'sugal:sugal_logview' gps.imei 1 %}'"/>-->
    <!--        <p>Choose GPS: <select id="detail_imei" oninput="request_plot_data(new Date())">-->
            <form method="GET" action="">
                <label for="log_list_calendar">Choose Day</label><input type="date" name="log_date" id="log_list_calendar" value="2019-07-05" >
                <p>Choose GPS: <select name="gps_id" id="detail_imei_log" >
                {% for dev in gps_list %}
                    <option {% ifequal dev.imei gps.imei %} selected="selected" {% endifequal %} value="{{ dev.imei }}" >Box: {{ dev.box_nr }} - {{ dev.imei }}</option>
                {% endfor %}
                </select>
                <input type="submit" value="Go">
                </p>
            </form>
        </div>
        <div id="log_list">
            {% if gps_log %}
                <table id="loglist_table">
                    <thead>
                        <tr>
                            <th>GPS</th>
                            <th>Timestamp</th>
                            <th>Validity</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Speed</th>
                            <th>Int. Battery</th>
                            <th>Ext. Battery</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in gps_log %}
                            <tr>
                                <td>{{ log.gps }}</td>
                                <td>{{ log.timestamp }}</td>
                                <td>{{ log.valid }}</td>
                                <td>{{ log.latitude }}</td>
                                <td>{{ log.longitude }}</td>
                                <td>{{ log.speed }}</td>
                                <td>{{ log.battery }}</td>
                                <td>{{ log.ext_battery }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {% if last_log %}
                    <p>There are no logs to display for this day. Last log was on {{ last_log.timestamp }} </p>
                {% else %}
                    <p> There are no logs from this device</p>
                {% endif %}
            {% endif %}
        </div>
        <script>
            vars = location.search.substr(1).split("&").reduce((o,i)=>(u=decodeURIComponent,[k,v]=i.split("="),o[u(k)]=v&&u(v),o),{});
            if(vars.log_date){
                dt = new Date(vars.log_date);
            }
            else{
                dt = new Date();
            }
            document.getElementById("log_list_calendar").value = convert_date(dt, 'ymd');
            document.getElementById("log_list_calendar").max = convert_date(new Date(), 'ymd');
        </script>
    </div>
    {% else %}
    <p>There are no GPS in the database. <a href="{% url 'sugal:sugal_create_gps' %}">Add GPS</a></p>
    {% endif %}
</div>
{% endblock %}
