/*********************/
/*    Robots List    */
/*********************/
#content #robots_list_container{
    margin: 10px auto;
    flex: 0 0 100%;
    border: 2px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#content #robots_list_container #robots_list{
    margin: 10px auto;
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: 2s ease;
}

#content .list-item{
    flex: 0 1 30%;
    margin: 5px 5px;
}

#content .list-item .item-container{
  position: relative;
  width: 100%;
}

#content .list-item .item-container img{
    opacity: 1;
    display: block;
    margin: 0 auto;
    width: 20%;
    height: auto;
    border: 1px solid black;
    transition: .25s ease;
    backface-visibility: hidden;
}

#content .list-item .item-container .hover-text{
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#content .list-item .item-container .hover-text-a{
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    font-size: 2.vmax;
    color: black;
}

#content .list-item .item-container:hover img{
    opacity: 0.3;
}

#content .list-item .item-container:hover .hover-text{
    opacity: 1;
}

/*********************/
/*       NAVBAR      */
/*********************/
#content #navbar{
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

#content #navbar a{
    font-color: black;

}

#content #navbar .tab_button{
    font-family: inherit;
    font-size: 16px;
    //font-weight: bold;
    flex: 0 1 150px;
    background-color: #e6e6e6;
    outline: none;
    margin: 0;
    padding: 5px;
    cursor: pointer;
    z-index: 5;
}

#content #navbar #open{
    background-color: white;
    border-bottom: 1px solid white;
}

/*********************/
/*       LOGS        */
/*********************/
#content #loop_details{
    display: flex;
    flex: 0 1 100%;
    flex-direction: column;
    width: 100%;
}

#content .tabcontent{
    display: flex;
    flex: 0 1 100%;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin-top: -2px;
    /*border-left: 1px solid black;
    border-bottom: 1px solid black;*/
    border: 2px solid #e6e6e6;
    z-index: 1;
}

.flex-row-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.flex-row-wrapper > div{
    flex: 0 1 auto;
    margin: 3px 15px;
}

#log_start{
    font-family: 'Exo 2', sans-serif;
}

#log_end{
    font-family: 'Exo 2', sans-serif;
}

/* Checkboxes with nodes names */
#checkboxes{
    display: none;
    flex-direction: column;
}
.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

/*****************************/

/* Log page navigation */
#page_select{
    margin: 10px 10px;
}
.page_nav{
    cursor: pointer;
}

/***********************/
#content #logs #log_table{
    width: 100%;
    /*border: 2px solid red;*/
    text-align: left;
}

#content .flex-title{
    flex: 0 1 100%;
    width: 100%;
}