body {
    background-color: white;
    padding: 0px;
    margin: 0px;
    font-family: 'Exo 2', sans-serif;
}

h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 2.5vmax;
}

h2 {
    font-family: 'Exo 2', sans-serif;
    font-size: 2.0vmax;
}

h3 {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5vmax;
}

p {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.0vmax;
    padding: 2px;
    margin: 2px;
}