#content #device_list_table{
    /*border: 2px red solid;*/
    width: 95%;
}

#content #gps_filter{
    display: flex;
    flex-direction: row;
}

#content #gps_filter .gps_filter_class{
    flex: 1 1 auto;
    margin: 5px 10px;
}

#content #device_list_table thead > tr{
    background-color: #e6e6e6;
}

#content #device_list_table tbody > tr > td{
    text-align: center;
}

#content #device_detail{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    margin: 5px auto;
}

#content #device_detail #gps_selection{
    flex: 0 0 100%;
    width: 100%;
    /*border: 2px green solid;*/
}

#content #device_detail #info_div{
    flex: 0 0 30%;
    background-color: #D6DBDF;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    /*min-width: 300px;
    min-height: 300px;*/
}

#content #device_detail #gps_chart{
    display: flex;
    flex-direction: column;
    flex: 0 0 60%;
    background-color: #D6DBDF;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

#content #device_detail #gps_chart > *{
    text-align: center;
}

#loglist_container{
    /*border: 2px red solid;*/
    width: 95%;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.flex-row-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.flex-row-wrapper > *{
    margin: 5px 10px;
}

#loglist{
    /*border: 2px red solid;*/
    width: 95%;
    background-color: #D6DBDF;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#loglist > table{
    width: 95%;
}

#loglist > table > thead{
    font-weight: bold;
}